{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% load static %}

{% block content %}

    <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card py-2 my-5">
            <img id="infratieLogo" class="card-img-top mx-auto img-fluid" src="{% static 'user/media/LogoNameLarge_Blue.png' %}" alt="Infratie Logo">
            <div class="card-body">
                <form id="loginForm" class="my-auto" method="POST">
                    {% csrf_token %}
                    <div class="mb-3 form-floating">
                        {{ form.new_password1 }}
                        <label for="id_new_password1">New Password</label>
                    </div>
                    <div class="mb-3 form-floating">
                        {{ form.new_password2 }}
                        <label for="id_new_password2">Confirm New Password</label>
                    </div>
                    <div class="mb-3">
                        <ul class="password-info">
                            <li class="password-info">Your password can't be too similar to your other personal information.</li>
                            <li class="password-info">Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li>
                            <li class="password-info">Your password can't be entirely numeric.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        var form_fields = document.getElementsByTagName('input');
        form_fields[1].className = 'form-control';
        form_fields[2].className = 'form-control';
        
    </script>

{% endblock %}