{% extends "base.html" %}

{% block title %}Password Changed{% endblock %}

{% load static %}

{% block content %}

    <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card py-2 my-5">
            <img id="infratieLogo" class="card-img-top mx-auto img-fluid" src="{% static 'user/media/LogoNameLarge_Blue.png' %}" alt="Infratie Logo">
            <div class="card-body">
                <h1 class="text-center">Password Changed</h1>
                <p class="text-center">Please login using your new password!</p>
                <a class="btn btn-primary w-100" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>

{% endblock %}