{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% load static %}

{% block content %}

    <div class="container-fluid d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card py-2 my-5">
            <img id="infratieLogo" class="card-img-top mx-auto img-fluid" src="{% static 'user/media/LogoNameLarge_Blue.png' %}" alt="Infratie Logo">
            <div class="card-body">
                <form id="loginForm" class="my-auto" method="POST">
                    {% csrf_token %}
                    <div class="mb-3 form-floating">
                        {{ form.email }}
                        <label for="id_email">Email</label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        var form_fields = document.getElementsByTagName('input');
        form_fields[1].placeholder='email@infratie.com';
        form_fields[1].type = 'email';
        form_fields[1].className = 'form-control';
        
    </script>

{% endblock %}