body {
    font-family: 'Heebo', sans-serif !important;
    background-image: url("{% static 'user/media/infratiebg.jpeg' %}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    height: 100%;
}

.overlay {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 75px;
    right: 0;
}

.alert {
    z-index: 9999 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    --bs-alert-padding-x: 1.25rem !important;
    --bs-alert-padding-y: 1.25rem !important;
}

.card {
    width: 25% !important;
    border-radius: 1rem;
}

#infratieLogo {
    width: 250px;
}

#desktopView {
    display: none !important;
}

#mobileView {
    display: flex !important;
}

@media (min-width: 992px) {
    .card {
        width: 50%;
    }
    #desktopView {
        display: flex !important;
    }
    
    #mobileView {
        display: none !important;
    }
}